[2017-10-17 12:47] djalmaaraujo opened #1 "Create some Mockups"
Should this be a tray application or a full window? Might be better to not be a tray, since this is something that you don't use everyday.

- [x] Create a mockup and upload here

[2017-10-17 12:48] djalmaaraujo opened #2 "Create a bridge between the CLI and this project"
Easiest way is using `spawn` from node. Let's see.

- [ ] Code a small internal library to handle spotify-downloader calls to the CLI and get the output

[2017-11-20 14:21] linusg opened #3 "Before starting: to be discussed, defining overall common plans"
To be discussed:
- Colors (imitate spotify? legal issues?)
- Techniques used: Electron, thus a web-tech based application with a JS "backend" and CSS frontend, I would directly start using Sass which I prefer over Less and directly written CSS for "larger" applications
- Usage workflow, related to mockups
- Any preferences to save? Is there something built into Electron for platform independent us

[2017-11-20 14:22] linusg commented on #1
I won't go for a tray application but rather for a single-window application you manually invoke and close when done.

Even though I do not draw mockups that often, I would be happy starting on one and then move on to the actual coding stuff after having some of [these decided](https://github.com/djalmaaraujo/spotifube/issues/3).

[2017-11-20 14:57] djalmaaraujo commented on #1
@linusg I agree. Tray is more like a daily-use app, this one is for a few usage.

[2017-11-20 15:00] djalmaaraujo commented on #3
- Colors: We can use spotify pallet, they don't have rules about colors, only about their logo. https://developer.spotify.com/design/

- I am fine with Sass, though I think this app can be really simple, maybe we don't even need any pre-processor.

- OK

- Preferences maybe the folder to output.

[code]

- We can use React+webpack and generate a single bundle for the front-end.

[2017-11-20 15:06] linusg commented on #1
...or for applications where a real windowed-UI would be overkill, e.g. Redshift or Diodon (clipboard manager) :wink:
I better leave making the mockup to you as I currently have no great tool for this. Bringing life into the UI then is what I really love doing :smile:

Also I will leave the decision completely to you, but as I'm planning to actively contribute to this project as I do on the spotif

[2017-11-20 15:13] linusg commented on #3
For reference, here are the colors used by spotify from down the page you've linked:

![grafik](https://user-images.githubusercontent.com/19366641/33025182-8bcde47a-ce0d-11e7-9576-e57d53368434.png)

[2017-11-20 15:46] linusg opened #4 "UI design discussion"
This thread can be used for discussion of UI and design features, I'll start with a few examples widgets:

https://code.linusgroh.de/spotify-ui.html

I tried to "reverse-engineer" some of the buttons and their behavior. Feel free to have a look at the sourcecode.

![ui](https://user-images.githubusercontent.com/19366641/33027054-5d1c577e-ce12-11e7-8ba9-b8b5d97ec0c0.gif)

[2017-11-20 15:49] djalmaaraujo commented on #1
@linusg Sure. I will try to provide some mockups. Let's try to have some "user oriented stories"? How you want to use this UI?

- We want to drag and drop a playlist/song/album link?
- We want to drang and drop a *.txt file generated?
- A very simple UI would be enough?
- What would be the most important feature for the MVP?

Example of user stories:

" As a user I want to be able to open the app

[2017-11-20 15:50] linusg commented on #4
...and now I realize I could have looked at the [Spotify Web Player](https://open.spotify.com) source code, which I did not but rather created the code from scratch. :thinking:

[2017-11-20 15:58] linusg commented on #1
Drag and drop is a great thing, but I think dragging links is rather unintuitive. I would go for an `<input>` here.

Let's do this. Even though I guess most users would use use a feature like "enter playlist url here and click download". Still useful though.

Let's start with a simple one, adding more features as time goes on. I would set the goal to a fully-functional wrapper of all spotify-downl

[2017-11-20 16:02] djalmaaraujo commented on #1
I like your suggestions, but while I like the idea of having all features, this is not good for MVP or to have a good pace for a version 0.1, you know?

I think the idea of pasting a playlist link/song/album and hit download to a specific folder is a good start.

Also, we need to find a way to embed the CLI into this app or as a first version, we just put a link with instructions to the user have

[2017-11-20 16:06] linusg commented on #1
Sure, it's meant to be the long-time goal, the final aim :wink:
Surely we have to start small with v0.1. Indeed, making a working download button for a given playlist url seems to be a good start.

For the beginning invoking python and passing the necessary parameters to the script would be sufficient. Later I would even add a check, if python, the script (which we could possibly embed, yes) and f

[2017-11-20 16:09] djalmaaraujo commented on #1
👍

I will deliver some mockups by the end of the week, maybe. Let's see how it goes

[2017-11-21 04:44] sdhutchins commented on #1
Hello! I'm still interested in contributing. I have a solid background in html/css and some javascript. I agree with starting with a very simple UI as well & copy/paste of a link.

[2017-11-21 21:30] linusg opened #5 "Choosing a license"
Not *right* now, but hopefully as the first lines of code come in. The worst thing a dev can do is probably putting more than a couple of lines of code out there without stating any license.

I usually go for MIT but would really not mind if it's going to be some more restrictive or even less restrictive. [`spotify-downloader` is also licensed under MIT.](https://github.com/ritiek/spotify-download

[2017-11-22 19:40] linusg commented on #3
Just to let you guys know, (_and I'm truly sorry that I don't know the female version of this term, please apologize! All my English is based on German secondary school English lessons_), I'm going to spend some times learning electron now.
- First of all, it's been on my wishlist for a long time now, including NodeJS.
- Second, I don't have to bother you @djalmaaraujo with things like "I have no

[2017-11-23 15:39] djalmaaraujo commented on #3
@linusg Feel free to start the project. Let us just have some mockups before jumping into the code. Glad that you are working with electron now.

[2017-11-23 15:40] djalmaaraujo commented on #1
@sdhutchins Feel free to contribute. We will have some mockups in the next days

[2017-11-23 16:33] sdhutchins commented on #3
@linusg Awesome! I'm also starting out with electron a bit. @djalmaaraujo Did you want to switch to electron-react-webpack or stick with the initial electron-webpack

[2017-11-23 16:34] sdhutchins commented on #3
@linusg @djalmaaraujo I have an idea in my mind that I'm going to either draw or create on publisher as well if that's cool

[2017-11-23 21:16] djalmaaraujo commented on #3
@sdhutchins create and paste some pics in #1

[2017-11-23 21:17] djalmaaraujo commented on #3
I think the electron-webpack is very standard, we should stick with this. Also, I think react is in place already

[2017-11-23 21:23] linusg commented on #3
As it seems like we're making progress very soon I ask you to please have a look at #5.

[2017-11-24 14:34] djalmaaraujo commented on #1
We won't have mockups for today. I will try for next week, trying to find the right schedule for this.

[2017-11-24 15:22] linusg commented on #1
Probably @sdhutchins is working on something?

[2017-11-25 01:09] sdhutchins commented on #1
I am @linusg. I'll have some stuff tomorrow afternoon

[2017-11-25 14:10] zainimran commented on #1
Hey guys. I have been following this conversation and I feel like contributing too. I have experience in front end development and knowledge of the mean stack. Plus i can make really good hifi prototypes too. @sdhutchins<https://github.com/sdhutchins> and others please let me know how i can assist.

Zain.

On Nov 25, 2017, at 6:09 AM, Shaurita D. Hutchins <notifications@github.com<mailto:notificat

[2017-11-25 14:49] linusg commented on #1
@zainimran surely, let's wait for the mockups. Later on we will have enought to do for sure.

@sdhutchins so exited!

[2017-11-25 23:41] sdhutchins commented on #1
@linusg won't get to it tonight. *le sigh* I have some emergency lab work to do.

[2017-11-26 00:38] linusg commented on #1
No problem, take your time. For me it's not that important for *now* as it's pretty late here. These timezones suck though. Until then :sleeping:

[2017-11-26 17:12] djalmaaraujo commented on #1
I feel like everybody wants to do something. Let's do this..

I will deliver some mockups today and we create a schedule for the rest. Btw, feel free to post what ever you want here, @zainimran, you can start and we can review. It won't be a waste of time.

[2017-11-26 17:12] djalmaaraujo commented on #5
@linusg MIT is good for me.

[2017-11-26 17:15] djalmaaraujo commented on #5
Done.

https://github.com/djalmaaraujo/spotifube/blob/master/LICENSE

[2017-11-26 17:15] #5 closed

[2017-11-27 19:41] linusg commented on #1
Any update here? :wink:

[2017-11-27 21:55] zainimran commented on #1
I tried something on proto.io since I am using that tool on another project right now.
Link to the prototype: https://pr.to/O2X7Z9/
![capture](https://user-images.githubusercontent.com/17803773/33291513-dfb5f21e-d3e7-11e7-9b09-234a7096a5bc.PNG)

[2017-11-27 22:21] linusg commented on #1
@zainimran
Boom, here we go! Thanks for your work! What about moving the download button to below the list? And I find the down facing arrow rather confusing, seems like a second download button... However, I like the expected usage workflow, pasting a playlist link, (de) selecting some songs and hitting download :+1:

So, who agrees with this design along with my proposed change and who's willed

[2017-11-27 22:22] linusg commented on #1
Uh, and I think we might not use their icon for the application :neutral_face:

[2017-11-27 22:31] zainimran commented on #1
Yeah, the Spotify icon is there just as a placeholder until we design our own icon (assuming if we do).

The download button right next to the input box was intended as a button to fetch the playlist once there was a link in the input box.

Let’s see what others think too. I’ll be happy to make any changes which could improve our workflow 😊

Zain.

On Nov 28, 2017, at 3:22 AM, Linus Groh <notifica

[2017-11-27 22:44] djalmaaraujo commented on #1
@zainimran Thanks for your contribution. Here's my 2 cents for the simplest MVP ever:

![start](https://user-images.githubusercontent.com/3402/33293367-72969896-d3c4-11e7-9007-6fe40993e888.png)
![loading](https://user-images.githubusercontent.com/3402/33293280-316c88c6-d3c4-11e7-91a3-73b83187586b.png)

![found](https://user-images.githubusercontent.com/3402/33293279-313e4de4-d3c4-11e7-87a1-a30936d

[2017-11-27 23:04] djalmaaraujo commented on #1
Leave comments, suggestions. This is the simplest MVP possible and simple. Because we can test the communication with the CLI and see how it's going to work.

[2017-11-27 23:05] djalmaaraujo commented on #1
To be honest, as a final user of this application, I can't see myself doing anything different than pasting a playlist link, pressing download and choosing a folder. Sure we can do more after the mvp, but for me, that would be more than enough.

[2017-11-27 23:09] linusg commented on #1
That's true. BUT I would love the feature of de-selecting songs, it's what annoys me with spotify-downloader the most. About the CLI, if we need more options ore output I'm sure I can do something about it :wink:

Most important for me right now: who will make the first step, starting with code? I think you had react in mind, but I would rather start with some simple markup, basic styles and JS.

[2017-11-27 23:17] djalmaaraujo commented on #1
Sure, we can try to put this feature. But this would require more stuff, because the CLI don't return the artist name, album, etc, we only get the *.txt. It's a LOT of work to put in place api keys for spotify, a spotify application in developers console, etc.

This repo is open, feel free to jump. The code in place right now is already READY to go... react is installed, you can add css, html, etc

[2017-11-27 23:18] djalmaaraujo commented on #1
@linusg If you feel more confortable with with just plain html/css/js, feel free to put some codepen, jsfiddle, etc and I will port to the existing code for you, so you don't have to deal with react right now.

[2017-11-27 23:23] linusg commented on #1
As I said, I can easily add a flag to give us desired output we can parse.

Sure. I will try starting tomorrow morning, when I have some hours open. (Now it's 0:20 here, so...)

So, this is a misunderstanding of mine, sorry. Didn't knew yarn uses npm under the hood, I will have to read up on that a little. Have you an example or two of how npm failed?
So, keeping yarn :smile:

I am comfortable wit

[2017-11-27 23:30] sdhutchins commented on #1
I think we could break the app into phases with goals for each phase.

### Phase 1
- Download to a user selected folder by pasting a link of an album, song, or playlist.

### Phase 2
- Selecting which songs from a playlist or album to download.

### Phase 3
- Searching for a song, album, playlist and downloading it.

[2017-11-27 23:32] sdhutchins commented on #1
Breaking things into phases could help us better focus our efforts on the different features we'd like to see with the app. We could make all of those phases 1 phase and work towards implementation. Obviously, someone needs to be focusing on integrating the cli with the desktop app (I'm open to that).

[2017-11-27 23:42] linusg commented on #1
Talking about the CLI integration is important from the beginning on I think. For a quick start we should assume all required scripts and binaries are in `$PATH`. Next, we could work with this code:

[code]

Which works like a charm in my `electron`-`react` setup:

![grafik](https://user-images.githubusercontent.com/19366641/33295308-fa204fa4-d3d4-11e7-8bd9-afc235a052a9.png)

[2017-11-27 23:47] sdhutchins commented on #1
This is my vision for the app - at least the first/initial release.

![spotifube](https://user-images.githubusercontent.com/20976111/33295440-fe7280a2-d39a-11e7-9c14-56160781dbf7.png)

[2017-11-27 23:53] sdhutchins commented on #2
@linusg I'm going to try this out at home and see if I can get something simple working.

[2017-11-28 10:11] linusg commented on #1
I will close this one for now, as we have reached this issue's aim: having some mockups :tada:
Please have a further discussion in #4.

I will add the mockups to the issue mentioned in a few seconds.

[2017-11-28 10:11] #1 closed

[2017-11-28 10:15] linusg commented on #4
For reference, here's a collection of our mockups:

![mockup #1](https://user-images.githubusercontent.com/17803773/33291513-dfb5f21e-d3e7-11e7-9b09-234a7096a5bc.PNG)
----
![mockup #2.1](https://user-images.githubusercontent.com/3402/33293367-72969896-d3c4-11e7-9007-6fe40993e888.png)
![mockup #2.2](https://user-images.githubusercontent.com/3402/33293280-316c88c6-d3c4-11e7-91a3-73b83187586b.png)
![

[2017-11-28 10:24] linusg commented on #4
So, I have some great news:

- I have used `yarn` for some hours now, great experience so far. Sorry for the doubts @djalmaaraujo
- I have cleaned up some of the default code, and would kindly ask you to keep some coding style rules in mind:
  - in HTML, even react, use double quotes
  - in JS, use single quotes
  - Put a semicolon in JS at the end of each statement/function call

To keep the code

[2017-11-28 10:25] linusg commented on #4
Still a lot to do, next would be connecting the button to the backend, hiding the menu we don't need and a hell lot more.

[2017-11-28 10:30] linusg commented on #4
And, to be discussed: should we have a fixed-size window like e.g. etcher has one or allow resizing?

[2017-11-28 10:32] linusg commented on #4
Changed window title, menu is hidden now: https://github.com/djalmaaraujo/spotifube/commit/a74f21dc0b0badfaf05d40a44046acc9957d34d2

[2017-11-28 15:11] djalmaaraujo commented on #4
@linusg  Awesome! Keep up the good work.

This is not needed, specially because we are using a bundler, that should improve the handle os missing semicolons. It also makes the code cleaner.

Fixed with scrolling in side when we have a list of songs

[2017-11-28 15:34] djalmaaraujo commented on #4
@linusg Did some changes. Let's do this. Open a Branch with your new changes, because it would be nice to have a decent review using PR's.

Leave a PR open with a `"WIP - something"` title and we keep reviewing.

I did some changes in the input and button size.

BTW, if you are in germany, we can chat in the same timezone (almost). I am in portugal, -1hr from you only.

[2017-11-28 15:37] djalmaaraujo commented on #3
Final goals:

MVP - First release:

An input text with a button where the user can paste a playlist link, see how many matches the link brought and download all the songs into a specific folder.

[2017-11-28 15:37] #3 closed

[2017-11-28 15:38] djalmaaraujo commented on #2
This is done apparently, we already know how to do, so it's a matter of implementing.

[2017-11-28 15:38] #2 closed

[2017-11-28 15:44] djalmaaraujo commented on #4
I think we have enough for "design for the MVP". Let's have more issues focused on development.

[2017-11-28 15:46] djalmaaraujo opened #6 "Implement matches text"
![found](https://user-images.githubusercontent.com/3402/33328914-2eb6a942-d453-11e7-8a62-16703d790a94.png)

We need to:

- Call the CLI
- Look for the generated .txt file
- Read all the lines
- Count them and show like the image above

[2017-11-28 15:47] djalmaaraujo opened #7 "Choose a folder to save the files"
![found](https://user-images.githubusercontent.com/3402/33328970-56f5af52-d453-11e7-923d-25f7a12339c4.png)

When clicking on `Download all`, add a "file chooser" feature and move the playlist `*.txt` file to this folder.

This should be simple, we don't need to download the mp3 yet

[2017-11-28 15:49] djalmaaraujo opened #8 "Download progress"
![downloads](https://user-images.githubusercontent.com/3402/33329059-94eafb82-d453-11e7-88ac-e307243d8644.png)

Implement download feature by calling the CLI to download the playlist.

Command to run:

[code]

- Get the output of this command and show a simple text like `Downloading 23 of 78`.
- Do a console.log() when it comes to and end
- Open a PR

[2017-11-28 15:52] djalmaaraujo opened #9 "Download completed - success"
![done](https://user-images.githubusercontent.com/3402/33329253-065a3f12-d454-11e7-9caa-59f67cae5cee.png)

When the download progress is done #8, create this success page with the ability to open the destination folder.

[2017-11-28 15:54] linusg commented on #4
Seems to be arguably, since I think having a semicolon at each statement's end makes things more clear 😄

Guess you mean future changes? And would you do the same? So we can review each other's changes, when it's not bugfixing or sth like that.

Now I feel like a screenshot or even GIF is important in a lot of cases - I'm still at work for one hour or two so I don't have the right setup to test, a

[2017-11-28 15:54] djalmaaraujo opened #10 "Pack for all platforms"
Pack for all platforms. Should be simple with the already existing setup. Would be nice to know how to pack.

For macOS/Windows, we need a certificate, but we won't be using unless someone wants to pay ;)

[2017-11-28 15:58] djalmaaraujo commented on #6
A note for communicating with the Electron and the front-end. We should always use ipcMain and ipcRender for communication between these to layers.

[2017-11-28 15:59] linusg commented on #4
So, does this imply fixed height also? Would make sense IMO. A user could be confused if he just can size vertically...

I already made the `.container` having a vertical scrollbar explicitely when size is a problem: https://github.com/djalmaaraujo/spotifube/commit/9b2f095a5b4b8bbf7d53d1edb5cac461bb52e32d#diff-0528c6d0ead478be4b1668802ea2a171R18

[2017-11-28 16:01] linusg commented on #6
Just being into electron for some days, what would be the alternative? At least the docs explicitely state using these.

[2017-11-28 16:05] djalmaaraujo commented on #6
@linusg There are some crazy approaches, like starting a dev server inside of electron. Just being explicit so we don't endup doing crazy things. That's why we should use PR's ;)

thanks for asking

[2017-11-28 16:21] djalmaaraujo commented on #4
@linusg Yeah, I thought about 600 / 450, something close to this. You can pick something and we test later... for dev it's always better to have flexible

[2017-11-28 18:15] linusg commented on #4
So, I'm not exactly happy about the new size. The color is fine, but it's way too big. So far I tried to roughly match the Spotify widgets, where the input is even smaller:
![grafik](https://user-images.githubusercontent.com/19366641/33336207-7d527b3c-d46f-11e7-9ea7-ff0a4ebe68d7.png)
But no, please let it be smaller as we're working on a regular desktop app.

What about this?
![grafik](https://use

[2017-11-28 18:20] linusg commented on #4
I'm open to constructive discussions, and expect many many changes and progress this evening and tomorrow, as I got plenty of time now. @sdhutchins, please give us any feedback on these UI related questions soon!

I'm currently working on a class representing the spodl.py Script, but am not exactly sure where to put it. We have access to the whole Node.js API even in the renderer, but it's not exa

[2017-11-28 19:15] djalmaaraujo commented on #4
@linusg The letter-spacing 2px does not match spotify. Regarding the UI, Sizes... we don't need to match spotify identity (And I think it's bad for us if we do in terms of copyrights), we just need to FEEL LIKE spotify, because this is not an official app, and also, in terms of USER EXPERIENCE, the Input and the button are the most important pieces in the screen, so they should have a focus and a

[2017-11-28 19:18] djalmaaraujo commented on #4
@linusg Thake a look at this app: https://pasteandplaylist.now.sh.

This is using not using the Spotify "ui" perfectly, but you can definitely know that this is related to spotify..

[2017-11-28 19:19] djalmaaraujo commented on #4
Yeah, let's use PR's. Even if you have a OPEN PR for a lot of things, let's just try to make separated commits.

[2017-11-28 19:25] linusg commented on #4
I get all of your points, and in no means I want to exactly match the UI of spotify, but the overall appearance should match. So I'm fine with changing colors and sizes, but still it's too big. And the 2px match the style, I've exactly tested using half-transparent windows. See the source, a font-size of 11px and a letter spacing of 0.16em results in 1.76px which rounds to 2px. See https://www.w3s

[2017-11-28 19:34] linusg commented on #4
I especially like the input from @zainimran's mockup, which looks far more harmonic. BTW the input is the only thing I highly criticize. The other UI elements are great, especially button and different font color and size for the number.

[2017-11-29 09:20] djalmaaraujo commented on #4
Continue what you are doing, let's not have useless discussions about minor things.

Keep up the good work. It's going well

[2017-11-29 09:22] djalmaaraujo commented on #4
*are

[2017-11-29 14:02] #4 closed

[2017-11-29 14:02] djalmaaraujo opened #11 "Implement initial UI"
@linusg Adding you here to track the work you are doing.

[2017-11-29 14:05] djalmaaraujo commented on #4
@linusg https://github.com/djalmaaraujo/spotifube/projects/1
Let's use this to track our progress. ;)

[2017-11-29 14:05] linusg commented on #11
@djalmaaraujo Sure, sorry for the rant. I have got a basic wrapper for the script working, still not completely happy and thus improving it one more time. Expect the code in a few minutes, just one question:

At the time my instantiation looks like this:

    window.spotifyDownloader = new SpotifyDownloader('/home/linus/.virtualenvs/spotdl/bin/python', '/home/linus/spotify-downloader/spotdl.py');

[2017-11-29 14:08] linusg commented on #4
Yup, I've seen it. Glad that we continue working on it! Also please see the update which I posted in the thread, I'm not quite sure how to deal with this right now.

[2017-11-29 14:18] sdhutchins commented on #11
Hmm yeah that's a bit problematic. I've been reading on the other threads. Trying to keep up with you guys lol

[2017-11-29 14:27] linusg commented on #11
Also, just to let you know, I've started some work on the spotify-downloader side. Ritiek is fine with adding several error codes, so here we go: https://github.com/ritiek/spotify-downloader/issues/162.

[2017-11-29 15:11] linusg commented on #11
So, even though I have not pushed yet for obvious reasons, here's a GIF:
![success](https://user-images.githubusercontent.com/19366641/33381869-7980b2a2-d51f-11e7-9f63-59a83a0c91de.gif)

The file is indeed showing up:

![grafik](https://user-images.githubusercontent.com/19366641/33381850-72346872-d51f-11e7-99ca-71678dc9de25.png)

The new error codes in spotify-downloader (not yet published) work f

[2017-11-29 18:04] linusg commented on #11
Another huge update for you guys:
![initial-ui](https://user-images.githubusercontent.com/19366641/33391038-10a6b9d4-d538-11e7-9a91-009aa3c36f87.gif)

Here's the PR, please comment and comment and comment! https://github.com/djalmaaraujo/spotifube/pull/12

(Sorry, I've been super busy & excited and forgot to split into multiple commit, so it's one huge thing)

[2017-11-29 18:15] linusg commented on #11
Update: you will need the newest commit of the `return-codes` branch: https://github.com/ritiek/spotify-downloader/tree/return-codes

[2017-11-29 18:41] sdhutchins commented on #11
I would probably edit how the errors show up and what not, but I like the general look of this.

[2017-11-29 18:45] linusg commented on #11
Sure, any sketches, explanations or even actual code changes are appreciated 🙂

[2017-11-30 01:09] sdhutchins commented on #11
A thought on the spotdl.py script and paths...

1. We could ask the user to place spotdl.py in their path or...
2. We could tell the user to place it in their home path.

In python, you can easily get to the home path cross platform:
[code]
I don't know an equivalent way of doing that w/ electron right now.
3. We could have an option at some point wiht this app to download/install spotdl & its dep

[2017-11-30 05:22] ritiek commented on #11
Just my $0.02, maybe could ask the user to point towards `spotdl.py`'s location from the GUI and then just call the script from the same path with necessary arguments?

It should be possible to run the `spotdl.py` from any current working directory as of ritiek/spotify-downloader@d39272d6a2854f203482c5fbdaa55fb9de1f3db9. I've merged this change and also the branch `return-codes` with ritiek/spotif

[2017-11-30 16:50] djalmaaraujo commented on #11
@linusg Awesome awesome work. Looking pretty good. Just one heads up. Since you are running "bash" commands, this file: `src/renderer/spotdl/index.js` could be inside `main` folder, right? `renderer` is just for UI things.

@ritiek Awesome suggestion. Maybe the first run could have this. We can use https://www.npmjs.com/package/electron-config to save this and the default output folder, although r

[2017-11-30 16:51] djalmaaraujo commented on #11
@linusg I will try to get sometime later and do some refactoring in the CSS part. We should try to split the component into smaller parts, but I wouldn't matter right now.

[2017-11-30 16:56] linusg commented on #11
Yep, was not too sure where tu put the file as it somehow mixes up pretty much. Ok, CSS refactoring can be done soon or later. I can look into the package you've suggested and implement a very basic settings dialog. It would be the most clean way in my eyes to also have the Python binary and the script as a config value, not just in PATH, as venvs are very common at least for pythonistas.

[2017-11-30 19:26] sdhutchins commented on #11
Definitely the easy way for starting off things assuming they know where it is lol! Users can be...somewhwat confused.

[2017-12-01 00:28] linusg commented on #11
I mean, they had to manually clone the repository as it's the only way we provide the spotdl.py script for now. Not on PyPI, any Linux distro repos or similar. And the have to issue a command with the python binary, I think we might expect such a basic level of knowledge :wink:

So, I tried implementing a first startup dialog including two inputs (might change this to a file dialog later, for now

[2017-12-01 16:18] sdhutchins commented on #11
Can you push that to a separate branch so that I can check it out and debug? @linusg

[2017-12-01 16:24] linusg commented on #11
Im on the phone right now, but later I can push the (not working) code to the initial-ui branch or create yet another one. What would you prefer?

[2017-12-01 21:15] sdhutchins commented on #11
@linusg I'd say create a new branch, `broken-config`. After debugging, can push to the `initial-ui` since it is  a "working" demo.

[2017-12-01 22:49] djalmaaraujo commented on #11
@linusg I don't know if it's going to work or the real problem is this, but might be. Try to remove the `{}` in this line `import { Config } from 'electron-config';` should work.

correct would be:

```import Config from 'electron-config';```

[2017-12-01 22:52] linusg commented on #11
Ah, come on, that's not fair :wink:
Still not at home but I'll try for sure, thanks to both of you!

[2017-12-02 00:29] linusg commented on #11
So, this did not work. Sorry, @djalmaaraujo :disappointed:
But here you go, sorry for being late: https://github.com/djalmaaraujo/spotifube/commit/6d66934ce7850c4da857ad1831a46e92608a4af3 (branch `config-dialog`)
I've changed it back to an import with curly braces, did not work either way.

[2017-12-02 00:33] linusg commented on #11
Ah, I noticed I pushed it without the braces (https://github.com/djalmaaraujo/spotifube/commit/6d66934ce7850c4da857ad1831a46e92608a4af3#diff-92bdc4e9b9726f98a6f40f4b6d5bf621R1). I'm tired, until tomorrow folks.

[2017-12-02 00:44] linusg commented on #11
So, just another fast update: I found an (closed) issue (and a dup) on their GitHub: https://github.com/sindresorhus/electron-store/issues/3
So it's Webpack's fault, but I have no idea how to integrated the proposed solution as we don't even have a webpack config (somehow managed by `electron-webpack`?). Feel free to investigate.

[2017-12-02 01:31] djalmaaraujo commented on #11
@linusg I am using this module in another project. Try `electron-store` instead of -config.

[code]

ps: try the latest version. `yarn add electron-store`

[2017-12-02 15:08] linusg commented on #11
Still no luck with `electron-strore` (neither with and without braces nor with `require` or `import`), seems to be a problem caused by webpack with the underlying `conf` module for both `electron-config` and `electron-store`.

    WARNING in ./node_modules/conf/index.js
    25:27-43 Critical dependency: the request of a dependency is an expression

[2017-12-02 15:23] linusg commented on #11
Just a heads up, `electron-config` seems to be `electron-store`: https://github.com/sindresorhus/electron-store/issues/4 :wink:

[2017-12-02 20:43] sdhutchins commented on #11
@linusg  you get this working? I've been reading on the above thread? Currently been testing it out.

[2017-12-02 20:48] linusg commented on #11
Stop working on *this* specific issue, I got it. Spent some hours on it, read a lot of docs and hat to upgrade `electron-webpack` for being able to extend their webpack config. Here you go, the `config-dialog` branch is gone: https://github.com/djalmaaraujo/spotifube/pull/12/commits

[2017-12-02 20:51] linusg commented on #11
When using wrong paths, it fails with a "unknown error" (I noticed this accidentally), we might change this to a more specific error. However, the dialog works and appears, whenever there's not both the script and the python binary found in the config. Right after the initial config is done and saved, it will not show up anymore.

Please tell me what you think, and what you're working on or planni

[2017-12-02 21:04] djalmaaraujo commented on #11
Will test soon. Not on the computer now.

On Sat, Dec 2, 2017, 8:51 PM Linus Groh <notifications@github.com> wrote:

--
Djalma Araújo
+351 910623833
nossomos.cc

[2017-12-02 22:44] sdhutchins commented on #11
Tested it and it works well @linusg! What are you about to turn to working on next? I'll fill in things along the way.

[2017-12-02 22:53] linusg commented on #11
Glad to hear! Please feel free to pick a task you would like to work on, as I don't have anything uncommited for now. Of course there's a lot to do even for stage 0, reading the created txt file and displaying the number of songs, downloading (Button, dialog, choosing a path, next time taking the path as default but still being able to choose another one), more and proper error handling, refactori

[2017-12-02 23:48] sdhutchins commented on #11
Right now, I'm just sort of playing around, but I'm interested in working on **reading the created txt file and displaying the number of songs** as well as making some minor edits to the sass, but not much.

[2017-12-03 00:32] djalmaaraujo commented on #11
@sdhutchins just do it, don't think, hehehehe. :)

[2017-12-03 00:38] linusg commented on #11
Yup, that would be a great next step @sdhutchins! I think it might be easier for us to not use the `-l` flag of the `spotdl.py` script but rather the `-s` flag to download each song separately. This way we can easily implement a progress widget and calculate the percentage (`songs_downloaded/songs_total`). Just to keep in mind, except you guys have something different in mind.

[2017-12-03 00:41] linusg commented on #11
And are we still continuing working on the `initial-ui` branch until we have a working download button or can we merge this into master and continue with a new one for parsing and displaying the txt file and another one for download?
Still no complains on my code, thought there would be more critical reviews hehe :wink:

[2017-12-03 00:50] djalmaaraujo commented on #11
@linusg I think if @sdhutchins tested your code, we can merge to master so she can work in a new feature. I will do a review now and merge your code.

[2017-12-03 00:58] djalmaaraujo commented on #11
@linusg Did an initial review. Can you please do some changes before I merge?

[2017-12-03 00:58] djalmaaraujo commented on #11
@sdhutchins You can always start from his branch and later rebase with master.

[2017-12-03 01:00] sdhutchins commented on #11
@djalmaaraujo will do.

[2017-12-03 16:10] djalmaaraujo commented on #11
Code reviewed and merged. New branch, New PR.

[2017-12-03 16:11] djalmaaraujo commented on #11
Wohoo
🍬🍬🍭🍭🍧🍧🍦🍦🍰🍰🎂🎂

[2017-12-03 19:26] linusg commented on #11
Nice! But this issue is still in progress, right? 😉
Can't wait for the initial release...

[2017-12-04 20:33] djalmaaraujo commented on #11
@linusg I think we have enough for initial UI. We already have colors, sizes, etc. Let's finish this issue once for all.

[2017-12-04 20:33] #11 closed

[2017-12-09 14:29] linusg commented on #6
Anyone except me still working on anything? :thinking:

[2017-12-09 17:05] sdhutchins commented on #6
@linusg Yeah, hopefully, I'll open a PR today or tomorrow.

[2017-12-10 21:37] sdhutchins commented on #6
Is there a preference for placement of the "download playlist" code? Would it be better to place that with the playlist input code because so far I'm doing it that way? @linusg @djalmaaraujo

[2017-12-11 14:34] djalmaaraujo commented on #6
@sdhutchins What do you mean? I would have a button, firing a ipcMain event to the MAIN of electron and handle the download there.

[2017-12-11 14:35] djalmaaraujo commented on #6
@linusg @sdhutchins I will spend some time this week on this project. Expect some Pr's

[2017-12-11 15:16] sdhutchins commented on #6
@linusg @djalmaaraujo right now the different components of the app are split in the renderer folder and I was trying to figure out if that was a desire or not? If not, I can go ahead and open another PR with those additions. I'm just curious if there are style related desires for what things look like for the app outside of having a `main` and `renderer` folder.

[2017-12-11 15:20] djalmaaraujo commented on #6
@sdhutchins I am not sure if you understand the concept of the main / renderer.

main = imagine like backend, no UI
renderer = the front-end of the app, react, UI interactions, DOM, etc.

Components will always be inside the renderer.

👍

[2017-12-11 15:26] sdhutchins commented on #6
I understand main vs renderer. Not what I'm asking.

Again,

Meaning other than the required style design of having main and renderer...are their style desires for components being split or would it be ok to turn playlist-input into playlist-download with some edits to that component. It wouldn't be hard to add more to it to make that component take input as well as handle downloading.

[2017-12-11 15:27] sdhutchins commented on #6
I already have that written, but I wasn't sure if @djalmaaraujo @linusg you two wanted the code to be simpler or not or had a preference on that either way.

[2017-12-11 15:31] sdhutchins commented on #6
For example, here is our repo.

My question was just asking about what style @linusg was going for with components and how he'd feel about me turning `playlist-input` into `playlist-download` instead of creating a new folder and index.js for a download class or function.

![image](https://user-images.githubusercontent.com/20976111/33838717-eb4e137c-de55-11e7-9894-55c6480458b8.png)

[2017-12-11 15:37] sdhutchins commented on #6
If I'm not being clear, I apologize. I understand the necessary structure of the app. I'm asking specifically about what's written for `playlist-input` and if there was a vision for how that would transform or maybe not.

[2017-12-11 15:38] djalmaaraujo commented on #6
@sdhutchins I think I understand what you are saying. Sorry for the confusion. I prefer and it's recommended by react people to extract components into smaller components. Right now the initial screen is doing too much. One of the refactorings I will do this week is moving code into smaller components or moving "main" stuff to "main".

[2017-12-11 15:40] sdhutchins commented on #6
Thanks for that. I just wanted to keep those kinds of things in mind as I haven't created an electron app before, and I know it's pretty crucial to try to adhere to common practices in other programming languages even if they aren't written.

[2017-12-11 16:05] djalmaaraujo commented on #6
@sdhutchins For example, this image:

![](https://user-images.githubusercontent.com/3402/33293279-313e4de4-d3c4-11e7-87a1-a30936d3d3ce.png)

1 - Input would be a separated component
2 - The button is another
3 - The message is another
4 - The "PageInput" for example, or "Main" would be a component using all 3 before.

[2017-12-11 17:24] sdhutchins commented on #6
Thanks! @djalmaaraujo That's very helpful. I'll try to develop in that way.

[2017-12-15 14:06] djalmaaraujo opened #15 "new maintainer"
@linusg I am very busy to continue this project. I would be happy to deliver mockups when it's needed, but I won't be able to code anymore.

Let's move this project to your account, shall we?

You are the most active and with the most experience at the moment to handle.

[2017-12-15 14:09] djalmaaraujo commented on #15
@linusg Before I move, I wanna talk to you over email. is mail@linusgroh.de valid?

[2017-12-15 15:49] sdhutchins commented on #15
@linusg I'm still working on stuff over here, and I still want to help. If you'd still like my help, please let me know. If not, please also let me know lol You can either let me know here or via email [sdhutchins@outlook.com](mailto:sdhutchins@outlook.com)

[2017-12-15 15:55] linusg commented on #15
Hey of course I want! I even highly doubt that I will be able to efficiently work on this without a second person. I just wrote an email to @djalmaaraujo, let's wait for him. @sdhutchins you better push all your local work to a new branch to make the transfer as smooth as possible. (new repo url and such, the most straightforward way would be a new cloning of the repo :thinking:

[2017-12-17 19:31] sdhutchins commented on #15
@linusg that's a great point. Might be best if I pushed to a new branch on this one before it was transferred to your account assuming that's the next step.

[2017-12-18 11:57] linusg commented on #15
So he said just updating the remote origin address is fine, let's see. Still waiting for the second email, @djalmaaraujo :😉

[2017-12-18 15:23] djalmaaraujo commented on #15
@linusg Repository transfer to linusg requested

[2017-12-18 15:24] djalmaaraujo commented on #15
Just point your local remotes to another url. It's easier and clean.

[2017-12-18 15:24] #15 closed

[2017-12-18 15:27] linusg commented on #15
... And accepted, even though it says it will probably take some minutes. I'll do my best.
@sdhutchins make sure to get it working properly, as I'll try. What do we start on working next?

[2017-12-18 17:43] sdhutchins commented on #15
I'm still finishing up #6 and #7 :see_no_evil:  lol @linusg